<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i>菜单栏</a>
  <ul>
    <li> <a href="__APP__/Index/tongji_index.html"><i class="icon icon-signal"></i> <span>统计信息</span></a> </li>
    <li> <a href="__APP__/Index/lianxi.html"><i class="icon icon-pencil"></i> <span>联系我们</span></a> </li>
    <li> <a href="__APP__/Index/licheng.html"><i class="icon icon-home"></i> <span>公司历程</span></a> </li>
      <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>新闻管理</span> <span class="label label-important"></span></a>
      <ul>
       <li><a href="__APP__/Index/news.html">新闻概况</a></li>
        <li><a href="__APP__/Index/add_news.html">添加新闻</a></li>
      </ul>
    </li>
	<!--<li class="submenu"> <a href="#"><i class="icon icon-signal"></i> <span>分享管理</span> <span class="label label-important"></span></a>
      <ul>
       <li><a href="__APP__/Share/index.html">修改分享内容</a></li>
        <li><a href="__APP__/Share/add.html">添加分享</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-pencil"></i> <span>用户管理</span> <span class="label label-important"></span></a>
      <ul>
       <li><a href="__APP__/Person/index.html">用户总览</a></li>
        <li><a href="__APP__/Person/add.html">添加用户</a></li>
        
      </ul>
    </li>-->
    <!--<li class="submenu"> <a href="#"><i class="icon icon-home"></i> <span>首页</span> <span class="label label-important"></span></a>
      <ul>
       <li><a href="__APP__/Indexs/banner.html">页面顶端图片</a></li>
        <li><a href="__APP__/Indexs/add_banner.html">上传页面顶端图片</a></li>
        
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-signal"></i> <span>产品中心</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Indexs/xilie.html">产品中心各系列图片</a></li>
       <li><a href="__APP__/Indexs/add_xilie.html">上传产品中心各系列图片</a></li>
      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-pencil"></i> <span>解决方案</span> <span class="label label-important"></span></a>
      <ul>
       <li><a href="__APP__/Fangan/fangan.html">解决方案</a></li>
       <li><a href="__APP__/Fangan/add_fangan.html">添加解决方案</a></li>
      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-th"></i> <span>美鸣贴面</span> <span class="label label-important"></span></a>
      <ul>
       <li><a href="__APP__/Mmtm/img.html">产品体验图片</a></li>
       <li><a href="__APP__/Mmtm/add_img.html">添加产品体验图片</a></li>
      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-fullscreen"></i> <span>客户专区</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Khzq/video.html">客户专区视频</a></li>
       <li><a href="__APP__/Khzq/add_video.html">上传视频</a></li>
      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>新闻中心</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/News/news.html">新闻</a></li>
       <li><a href="__APP__/News/add_news.html">添加新闻</a></li>
      </ul>
    </li>
    
    <li class="submenu"> <a href="#"><i class="icon icon-tint"></i> <span>企业信息</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Company/company.html">分公司</a></li>
       <li><a href="__APP__/Company/add_company.html">添加分公司</a></li>
       <li><a href="__APP__/Company/network.html">美鸣全国网络</a></li>
        <li><a href="__APP__/Company/add_network.html">添加美鸣全国网络</a></li>
        <li><a href="__APP__/Company/qita.html">其他分类</a></li>
        <li><a href="__APP__/Company/add_qita.html">添加其他分类</a></li>
      </ul>
    </li>
    <li> <a href="__APP__/Company/message.html"><i class="icon icon-inbox"></i> <span>查看留言</span></a> </li>
    <li> <a href="__APP__/Company/phone.html"><i class="icon icon-inbox"></i> <span>联系电话</span></a> </li>
    <li> <a href="__APP__/Company/fenx.html"><i class="icon icon-inbox"></i> <span>分享内容</span></a> </li>-->
  </ul>
</div>