<div class="footer">
            <div class="wrap clearfix">
                <div class="cont cont-head">
                    <div class="tit">中银网下载</div>

                    <div class="download_wrap">
                        <div class="download clearfix">
                            <a class="btn apple" href="https://itunes.apple.com/cn/app/yun-xun-zhong-ying-wang/id1254310557?mt=8">IOS客户端</a>
                        </div>

                        <div class="download clearfix">
                            <a class="btn apple" href="http://118.190.3.124/ZhongYingWang.apk">Android客户端</a>
                        </div>
                    </div>
                </div>

                <div class="cont concat-cont">
                    <p class="tit">联系我们</p>

                    <div class="msg">
                        <div class="phone-2" ><a style="color:#fff" href="tel:{$Tel.content}">{$Tel.content}</a></div>

                        <p class="email">{$email.content}</p>

                        <p class="date">周一到周五 0:00&mdash;24:00</p>
                    </div>
                </div>

                <div class="tips-cont">
                    <p class="tips">
                        中银网网站上的任何内容均不可视为购买或出售证券、期货或其它投资产品的一种建议或招揽。任何信息及数据仅供投资者参考，所有历史数据均不可视为对未来走势的判断依据。投资者应仔细了解相关金融产品，明确其风险因素及自身的风险承受能力，或寻求专业的投资顾问的建议。投资有风险，入市须谨慎。
                    </p>

                    <p class="msg">
                        <a class="policy" href="policy_mobile.html">中银服务协议</a>
                    </p>

                    <div class="copyright">中银网 鲁ICP备17035173号-1</div>
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264485605'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264485605%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                    <!--baiduzdts-->
                    <script>
                    (function(){
                        var bp = document.createElement('script');
                        var curProtocol = window.location.protocol.split(':')[0];
                        if (curProtocol === 'https'){
                       bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                      }
                      else{
                      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                      }
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(bp, s);
                    })();
                    </script>
                    <!--baiduzdts-->
                    <!-- Global site tag (gtag.js) - Google Analytics -->
                    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84130035-5"></script>
                    <script>
                      window.dataLayer = window.dataLayer || [];
                      function gtag(){dataLayer.push(arguments);}
                      gtag('js', new Date());

                      gtag('config', 'UA-84130035-5');
                    </script>

                    <p>&nbsp;</p>
                </div>
            </div>
        </div>